<div class="popUp">
    <form id="add-performer-form" action="/dashboard" method="POST">
        <div>
            <label>Destination:</label>
            <input type="text" name="destination">
        </div>
        <div>
            <label>Actual Budget</label>
            <input type="number" name="actTotal" step="0.01" placeholder="$0.00">
        </div>
        <div>
            <label>Simulated Budget</label>
            <input type="number" name="simTotal" step="0.01" placeholder="$0.00">
        </div>
        <div class="popUpBtns">
            <a href="/dashboard">
                <button class="CancelPopUp" id="closeDelExpModal" type="button"> Cancel
                </button>
            </a>
            <input type="submit" value="Add Journey" class="confirmsPopUp">
        </div>
    </form>

</div>
<div id="overlay-Journey"></div>