<%- include('../partials/header') %>
    <br><br>

    <% if (journeys.length> 0) { %>
        <% journeys.forEach(function(j) { %>
            <h2>
                <a href="/dashboard/<%= j._id %>">
                    <%= journeys[0].destination %>
                </a>
            </h2>
            <% }); %>
                <% } else { %>
                    <table id="list">
                        <tbody>
                            <tr>
                                <td><a href="/dashboard/new">Add a Journey</a></td>
                            </tr>
                        </tbody>
                    </table>
                    <% } %>

                        <%- include('../partials/footer') %>