<%- include('../partials/header') %>

    <div class="homeContainer">
        <div class="smallHomeContainer">
            <div class="bubbleBckgrndDash">
                <div class="dashboardHeader">
                    <div class="dashboardMainText">MY TRAVEL DESTINATIONS</div>
                    <div class="addJourneyContainer">
                        <a href="/dashboard/new">
                            <div class="plusJourney">+</div>
                            <div id="addTextJourney">ADD JOURNEY</div>
                        </a>
                    </div>
                </div>
                <div class="preloadContainer">
                    <% if (journeys.length> 0) { %>
                        <% journeys.forEach(function(j) { %>
                            <a href="/dashboard/<%= j._id %>">
                                <div class="destCardContainerDash">
                                    <div class="destTitle">
                                        <%= j.destination %>
                                    </div>
                                    <button class="learnBtn"> Learn More</button>
                                </div>
                            </a>
                            <% }); %>
                                <% } else { %>
                                    <a href="/dashboard/new">
                                        <div>ADD A NEW JOURNEY TO START</div>
                                    </a>
                                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <%- include('../partials/footer') %>