<%- include('../partials/header') %>

    <table>
        <tbody>
            <% if (user) { %>
                <tr>
                    <td class="review-user"><img alt="avatar" src="<%= journey.userAvatar %>"
                            referrerpolicy="no-referrer">
                        <%= journey.userName %>
                    </td>
                </tr>
                <% } %>
        </tbody>
    </table>

    <%- include('../partials/footer') %>