<%- include('partials/header') %>


  <!DOCTYPE html>
  <html>

  <head>
    <title>
      <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <div class="homeContainer">
      <div class="smallHomeContainer">
        <div class="bubbleBackground">
          <div class="left-HomePage">
            <div class="textContainer">
              <div class="homeMainCopy">
                Explore must-see places
              </div>
              <div class="homeSmallCopy">
                Unlock a world of adventure
              </div>
            </div>
          </div>
          <div class="right-HomePage">
            <div class="right-CopyContainer">
              <div class="right-MainCopy">
                What is Travel Bud?
              </div>
              <div class="right-BodyCopy">
                Travel Bud is a comprehensive webpage designed to assist users in creating and planning their trips
                while effectively managing their budgets. It offers simulated budgeting features to help users
                estimate their expenses before embarking on their journeys. Additionally, it enables users to track
                their actual expenses while traveling by allowing them to add expenses and categorize their spending.
              </div>
              <div class="featuresContainer">
                <img src="public/images/downArrow.png">
                <h2 id="featureHeader">KeyFeatures</h2>
              </div>
            </div>
            <div class="preloadContainer">
              <div class="destCardContainer">
                <div class="destTitle">JAPAN</div>
                <button class="learnBtn"> Learn More</button>
              </div>
              <div class="destCardContainer">
                <div class="destTitle">JAPAN</div>
                <button class="learnBtn"> Learn More</button>
              </div>
              <div class="destCardContainer">
                <div class="destTitle">JAPAN</div>
                <button class="learnBtn"> Learn More</button>
              </div>
              <div class="destCardContainer">
                <div class="destTitle">JAPAN</div>
                <button class="learnBtn"> Learn More</button>
              </div>
              <div class="destCardContainer">
                <div class="destTitle">JAPAN</div>
                <button class="learnBtn"> Learn More</button>
              </div>
              <div class="destCardContainer">
                <div class="destTitle">JAPAN</div>
                <button class="learnBtn"> Learn More</button>
              </div>
              <div class="destCardContainer">
                <div class="destTitle">JAPAN</div>
                <button class="learnBtn"> Learn More</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

  </html>

  <%- include('partials/footer') %>