body {
  font-family: 'Poppins', sans-serif;
  padding: 50px;
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
}

a {
  color: #00B7FF;
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  /* font-family: Helvetica; */
  color: #424748;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "nav"
    "main"
}

body>nav {
  grid-area: nav;
  background-color: #B8C0C2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

nav>img {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
}

body>main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E8ECEB;
  padding: 20px;
  overflow-y: scroll;
}

body>main h1:first-child {
  margin-bottom: 50px;
}

nav>a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav>a:hover:not(.active) {
  color: white;
  background-color: #424748;
}

nav>a.active {
  color: white;
  cursor: default;
}

#new-form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 22rem));
}

#new-form *,
#add-review-form *,
#showSimCat *,
#categoryForm *,
#expenseForm *,
#add-performer-form * {
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
}

#new-form input[type="submit"] {
  grid-column: span 2;
  width: 10rem;
  margin-left: auto;
}

table {
  font-size: 20px;
}

table thead th {
  padding: 5px;
  border-bottom: 2px solid #424748;
}

table td {
  padding: 10px;
  text-align: center;
}

#list td:nth-child(2),
#list td:nth-child(3) {
  min-width: 100px;
}

#list a {
  border-radius: 4px;
  background-color: #B8C0C2;
  padding: 4px;
  text-decoration: none;
  font-size: 14px;
}

#list a:hover {
  background-color: white;
}

#show-page {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
}

#show-page div:nth-child(even) {
  font-weight: bold;
}

#add-review-form,
#add-performer-form {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
  margin-bottom: 2rem;
}

#add-review-form input[type="submit"],
#add-performer-form input[type="submit"] {
  width: 10rem;
  grid-column: 2 / 3;
}

hr {
  color: #424748
}

#badge-container {
  display: flex;
  flex-wrap: wrap;
  /* padding: 1rem; */
  width: 80%;
  border: 2px solid #B8C0C2;
  border-radius: .5rem;
  margin: .5rem 0 2rem;
}

.badge {
  background-color: #B8C0C2;
  padding: .5rem;
  margin: .5rem;
  border-radius: .3rem;
  font-size: .8rem;
  text-align: center;
}

#show-page ul {
  margin: 0 0 2rem;
  padding: 0;
  list-style: none;
}

#show-page li {
  font-weight: bold;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

.review-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-user img {
  border-radius: 50%;
  height: 40px;
}

.hide {
  visibility: hidden;
  display: none;
}

.popUp {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
  padding: 20px;
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  backdrop-filter: blur(2px);
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.button {
  width: auto;
  height: 2rem;
}

.plusCatImg {
  height: 1rem;
  width: 1rem;
}

.container-header {
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2px
}

.left-header {
  background-color: #0094FF;
  color: #F5F5F7;
  padding: 10px;
  border-radius: 10px 0px 0px 10px;
}

.right-header {
  background-color: #0094FF;
  color: #F5F5F7;
  padding: 10px;
  border-radius: 0px 10px 10px 0px;
}

.table-header {
  background-color: #D9D9D9;
  border: 1px #D9D9D9;
  border-radius: 10px 10px 0px 0px;
  padding-top: 10px;
  font-size: 10px;
  justify-content: center;
  display: flex;

}

.table-header h4 {
  font-size: 15px;
}

.table-content {
  height: auto;
  width: auto;
  border: 2px solid #D9D9D9;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 20px; */
  display: flex;
}

.table {
  margin-bottom: 20px;

}

#showUpdateModal {
  /* background: none; */
  border: none;

  width: 1rem;
  height: 1rem;
  cursor: pointer;
  border: none;
  /* border-radius: 20px; */
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  outline: none;
  background-image: url("../images/Edit.svg");
}

#showDeleteModal {
  border: none;

  width: 1rem;
  height: 1rem;
  cursor: pointer;
  border: none;
  /* border-radius: 20px; */
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  outline: none;
  background-image: url("../images/Trash.svg");
}

.btn-container {
  display: flex;
  gap: 10px;
  border: none;
}

/* 
.imgBtn {
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: none;
  /* border-radius: 20px; 
background-size: contain;
background-repeat: no-repeat;
background-color: transparent;
/* Move this line after the background-size property 
outline: none;
} 
*/

.addingBtns {
  border: 1px solid #0094FF;
  background-color: #0094FF;
  color: #FFFFFF;
  padding: 5px 20px 5px 20px;
  margin-right: 10px;
  border-radius: 3px;
  font-size: 1rem;
}

.addingBtns:hover {
  border: 1px solid #0094FF;
  background-color: #FFFFFF;
  color: #0094FF;
}